<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uservoice.uservoicesdk"
    android:versionCode="1"
    android:versionName="0.0.1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
      <activity android:name="com.uservoice.uservoicesdk.activity.PortalActivity" android:theme="@style/UserVoiceTheme" android:label="@string/uv_portal_title" />
      <activity android:name="com.uservoice.uservoicesdk.activity.ForumActivity" android:theme="@style/UserVoiceTheme" android:label="@string/uv_feedback_forum" />
      <activity android:name="com.uservoice.uservoicesdk.activity.ArticleActivity" android:theme="@style/UserVoiceTheme" android:label="@string/uv_all_articles" />
      <activity android:name="com.uservoice.uservoicesdk.activity.TopicActivity" android:theme="@style/UserVoiceTheme" android:label="@string/uv_portal_title" />
      <activity android:name="com.uservoice.uservoicesdk.activity.ContactActivity" android:theme="@style/UserVoiceTheme" android:configChanges="orientation|keyboardHidden|screenSize" android:label="@string/uv_contact_us" />
      <activity android:name="com.uservoice.uservoicesdk.activity.PostIdeaActivity" android:theme="@style/UserVoiceTheme" android:configChanges="orientation|keyboardHidden|screenSize" android:label="@string/uv_idea_form_title" />
    </application>

</manifest>
